<form class="ui stacked segment form" action="/about/:id/addcomment" method="POST">
    <div class="field">
      <label>Add some Feedback</label>
      <input placeholder="Feedback" type="text" name="feedback" autofocus required>
    </div>
  <button class="ui blue submit button">Add Comment</button>
</form>