{{> menu}}

<section class="ui center aligned middle aligned segment">
  <h1>
    List of my Favorite Teams
  </h1>
  <p>
    This is a small app, to let you compose lists of your favorite teams from any type of sports or events.
  </p>
   <h3>Number of total teams:   {{amountOfTeams}} </h3>
  <h3>Number of total players:   {{totalplayers}}</h3>
  <img src="https://cdn.glitch.com/b61a2b2a-cb2f-4ee2-9276-9e9f1da43b31%2Ffootball.jfif?1551196377041" alt="Picture of a Football" height="250" width="250">
</section>